.button-submit-index  {
    color: #0281aa;
    cursor: pointer;
    background: #f6f2fe;
    border: 3px solid #0281aa;
    border-radius: 30px 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: inline-block;
    font-size: 15px;
    margin-left: 15%;
    margin-bottom: 20px;
    padding: 5px 18px;
    float: left;
    position:static;

}

.button-submit{
    color: #0281aa;
    cursor: pointer;
    background: #f6f2fe;
    border: 3px solid #0281aa;
    border-radius: 30px 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: inline-block;
    font-size: 15px;
    margin: 20px;
    padding: 5px 18px;
    
}