body {
  color: black;
  font-family: 'Raleway', sans-serif;
  margin: 60px;
  padding-left: 15px;
  text-align: center;
}

nav {
    background: linear-gradient(#d4cba5, #f2b874, #f18b27);
    border-radius: 20px;
    max-width: 600px;
    margin: auto;
}

nav ul li{
    
}