{% extends 'base.html' %}

{% block content %}

<h3> {{restaurant.name}} </h3>

<h4>Category: {{restaurant.category}} </h4>

<h4> Reviews </h4>

<div>
    <ul>
        {% for user in users %}

        <li class="review-cont-items"> {{user.name}}
            {% for feedback in feedbacks_1%}
                {% if feedback.user.id == user.id%}
                <br />
                <span><i>"{{feedback.feedback}}"</i></span>
                {% endif %}
            {% endfor %}
        <hr>
        </li>

        {% endfor %}
    </ul>
</div>
{% endblock %}

