{% extends 'base.html' %}

{% block content %}

<h2>Reviews</h2>

<p>
    <a href="/reviews/new">New review</a>
</p>
<hr>
<ul class="review-container">
    {% for review in reviews %}
    <li class="review-cont-items">
        {{review.user.name}} - {{review.restaurant.name}}
     <p><i> "{{review.feedback}}"</i></p>
     <div>
        <a class="review-edit" href="/reviews/{{review.id}}/edit">edit</a> 
        <p>
            <form action="/reviews/{{review.id}}/delete" method="POST">
                <input class="button-submit-index" type="submit" value="delete">
            </form>
        </p>
     </div>
     <hr>
    </li>
    {% endfor %}
</ul>

{% endblock %}