{% extends 'base.html' %}

{% block content %}

<h2>Reviews</h2>

<p>
    <a href="/reviews/new">New review</a>
</p>

<ul>
    {% for review in reviews %}
    <li>
        {{review.user.name}} - {{review.restaurant.name}}
     <p> "{{review.feedback}}"</p>
     <a href="/reviews/{{review.id}}/edit">edit</a> 
     <p>
         <form action="/reviews/{{review.id}}/delete" method="POST">
            <input type="submit" value="delete">
        </form>
     </p>
     
    </li>
    {% endfor %}
</ul>

{% endblock %}