<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" /> 
    
  <title>Abroad and Well Fed</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">

</head>

<main>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/restaurants">Restaurants</a>   
      </li>
      <li>
        <a href="/users">Users</a>
      </li>
      <li>
        <a href="/reviews">Reviews</a>
      </li>
    </ul>
  </nav>
  <body>
  <section id="content">
      {% block content %}

      {% endblock%}
  </section>
  </main>
</body>
</html>